<div class="container">
    <div class="form-box">
        <form #calculadoraForm="ngForm" (ngSubmit)="calcularResultado()">
            <h2>Calculadora</h2>
            <label for="numero1">Número 1</label>
            <input type="number" name="numero1" id="numero1" [(ngModel)]="numero1">
            <!-- [()] é a sintaxe de two-way data binding do Angular, que permite receber o 
            valor de um componente --> 
            
            <label for="numero2">Número 2</label>
            <input type="number" name="numero2" id="numero2" [(ngModel)]="numero2">

            <button type="submit">Somar</button>
            <!-- O atributo "submit" permite enviar o formulário ao pressionar Enter.
            Assim, o cálculo pode ser feito tanto clicando em "Calcular" quanto pressionando Enter. -->

        </form>

        <!--ABAIXO APRENDEREMOS A USAR "IF NATIVO " E "IF NÃO NATIVO(CommonModule)"-->

        <!--IF não nativo, usando "CommonModule", precisamos importar o módulo -->
        <div class="result-display" *ngIf="resultado; else semResultado">
            <p>Seu resultado:</p>
        </div>

        <ng-template #semResultado>
            <p>Aguardando calculo</p>
        </ng-template>

        <!-- IF nativo do angular, nesse caso ele verifica um boolean, true ou false:
            Se resultado != 0 && resultado != null && resultado != undefined && resultado != false -->
        @if (resultado) {
            <div class="result-display">
                <p>Resultado: <span id="result"> {{ resultado }}</span></p>
            </div>        
        } @else {
            <p>Seu resultado aparecerá aqui</p>
        }

    </div>
</div>


